*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
}

body {
  background: url("flag.jpg") no-repeat center center/cover;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.clock {
  margin: 15px;
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 50%;
  border: 8px solid black;
  position: relative;
}

.clock .number {
  --rotation: 0;
  border-left: 1px solid black;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transform: rotate(var(--rotation));
  font-size: 1rem;
}

.clock .number1 {
  --rotation: 30deg;
}

.clock .number2 {
  --rotation: 60deg;
}

.clock .number3 {
  --rotation: 90deg;
  font-size: 1.5rem;
  font-weight: 800;
}

.clock .number4 {
  --rotation: 120deg;
}

.clock .number5 {
  --rotation: 150deg;
}

.clock .number6 {
  --rotation: 180deg;
  font-size: 1.5rem;
  font-weight: 800;
}

.clock .number7 {
  --rotation: 210deg;
}

.clock .number8 {
  --rotation: 240deg;
}

.clock .number9 {
  --rotation: 270deg;
  font-size: 1.5rem;
  font-weight: 800;
}

.clock .number10 {
  --rotation: 300deg;
}

.clock .number11 {
  --rotation: 330deg;
}

.clock .number12 {
  font-size: 1.5rem;
  font-weight: 800;
}

.clock .hand {

  --rotation: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  border: 1px solid white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform-origin: bottom;
  z-index: 10;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.clock::after {
  content: '';
  position: absolute;
  background-color: black;
  z-index: 11;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.clock .hand.second {
  width: 3px;
  height: 45%;
  background-color: red;
}

.clock .hand.minute {
  width: 7px;
  height: 40%;
  background-color: black;
}

.clock .hand.hour {
  width: 10px;
  height: 35%;
  background-color: black;
}

/* clock1 */
.clock1 {
  margin: 15px;
  width: 200px;
  height: 200px;
  background-color: maroon;
  border-radius: 50%;
  border: 3px solid black;
  position: relative;
}

.clock1 .number {
  --rotation: 0;
  color: white;
  border-left: 3px solid black;
  border-bottom-left-radius: 60px;
  border-top-left-radius: 40px;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transform: rotate(var(--rotation));
  font-size: 1.5rem;
}

.clock1 .number1 {
  --rotation: 30deg;
}

.clock1 .number2 {
  --rotation: 60deg;
}

.clock1 .number3 {
  --rotation: 90deg;
}

.clock1 .number4 {
  --rotation: 120deg;
}

.clock1 .number5 {
  --rotation: 150deg;
}

.clock1 .number6 {
  --rotation: 180deg;
}

.clock1 .number7 {
  --rotation: 210deg;
}

.clock1 .number8 {
  --rotation: 240deg;
}

.clock1 .number9 {
  --rotation: 270deg;
}

.clock1 .number10 {
  --rotation: 300deg;
}

.clock1 .number11 {
  --rotation: 330deg;
}

.clock1 .hand {

  --rotation: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  border: 1px solid white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform-origin: bottom;
  z-index: 10;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.clock1::after {
  content: '';
  position: absolute;
  background-color: white;
  z-index: 11;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.clock1 .hand.second {
  width: 3px;
  height: 45%;
  background-color: black;
}

.clock1 .hand.minute {
  width: 7px;
  height: 40%;
  background-color: white;
}

.clock1 .hand.hour {
  width: 10px;
  height: 35%;
  background-color: white;
}

/* clock2 */
.clock2 {
  margin: 15px;
  width: 200px;
  height: 200px;
  background-color: black;
  border-radius: 50%;
  border: 2px solid black;
  position: relative;
}

.clock2 .number {
  --rotation: 0;
  border-left: 4px solid black;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 80px;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transform: rotate(var(--rotation));
  font-size: 1.5rem;
  color: white;
}

.clock2 .number1 {
  --rotation: 30deg;
}

.clock2 .number2 {
  --rotation: 60deg;
}

.clock2 .number3 {
  --rotation: 90deg;
}

.clock2 .number4 {
  --rotation: 120deg;
}

.clock2 .number5 {
  --rotation: 150deg;
}

.clock2 .number6 {
  --rotation: 180deg;
}

.clock2 .number7 {
  --rotation: 210deg;
}

.clock2 .number8 {
  --rotation: 240deg;
}

.clock2 .number9 {
  --rotation: 270deg;
}

.clock2 .number10 {
  --rotation: 300deg;
}

.clock2 .number11 {
  --rotation: 330deg;
}

.clock2 .hand {

  --rotation: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  border: 1px solid white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform-origin: bottom;
  z-index: 10;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.clock2::after {
  content: '';
  position: absolute;
  background-color: white;
  z-index: 11;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.clock2 .hand.second {
  width: 3px;
  height: 45%;
  background-color: palevioletred;
}

.clock2 .hand.minute {
  width: 7px;
  height: 40%;
  background-color: white;
}

.clock2 .hand.hour {
  width: 10px;
  height: 35%;
  background-color: white;
}

.country {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 3rem;
}